# Database Connection (PostgreSQL)
DATABASE_URL="postgresql://genie:genielight2026@localhost:5432/genie_light_db?schema=public"

# NextAuth / JWT Authentication
NEXTAUTH_SECRET="genie-light-super-secret-jwt-key-2026"
NEXTAUTH_URL="http://localhost:3001"

# Object Storage (MinIO / S3)
MINIO_ENDPOINT="localhost"
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ROOT_USER="genie_minio"
MINIO_ROOT_PASSWORD="genie_minio_password"
MINIO_BUCKET_DATASHEETS="genie-datasheets"
MINIO_BUCKET_PRODUCTS="genie-products"
MINIO_BUCKET_PROJECTS="genie-projects"

# Public S3 Access URL for Next.js Image Component
NEXT_PUBLIC_STORAGE_BASE_URL="http://localhost:9000"
